/**
 * @file
 * Visual styles for Team+'s node in teaser tile view.
 */
 .node--view-mode-mt-teaser-tile {
  margin-bottom: 50px;
}
.node--view-mode-mt-teaser-tile .mt-teaser-tile-card > div:last-child {
  padding-bottom: 0;
  margin-bottom: 0!important;
}
.node--view-mode-mt-teaser-tile .node__header {
  padding-bottom: 0;
}
.node--view-mode-mt-teaser-tile .node__title {
  font-size: 24px;
}
.node--view-mode-mt-teaser-tile.region--default-background .node__title a {
  color: var(--mt-color-default-contrast);
}
.node--view-mode-mt-teaser-tile .teaser-tile-image {
  margin-bottom: 0;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image .overlay {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term,
.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item {
  padding: 0;
}
.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term:before,
.node--view-mode-mt-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item:before {
  content: "";
}
.node--view-mode-mt-teaser-tile .teaser-tile-image-container .field--entity-reference-target-type-taxonomy-term a {
  padding: 5px 15px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #696969;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image-container .field--entity-reference-target-type-taxonomy-term .field__item:last-child {
  margin-left: 3px;
}
.node--view-mode-mt-teaser-tile.node--view-mode-mt-teaser-tile--image-circle .overlay-container,
.node--view-mode-mt-teaser-tile.node--view-mode-mt-teaser-tile--image-circle .teaser-tile-image img {
  border-radius: 100%;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image-container:hover .teaser-tile-image .overlay {
  opacity: 1;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image-container .teaser-tile-image ~ .image-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 50%;
  margin-top: -21px;
  margin-bottom: 0;
  font-size: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 0;
  width: 100%;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image-container .teaser-tile-image ~ .image-caption a {
  color: #ffffff;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image-container:hover .teaser-tile-image ~ .image-caption {
  opacity: 1;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image-container .image-caption .field__item {
  margin-bottom: 0;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image-container {
  position: relative;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image-container .teaser-tile-image ~ .node__submitted-date {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.node--view-mode-mt-teaser-tile .teaser-tile-image-container .node__submitted-date {
  padding: 10px;
  text-align: center;
}
.node--view-mode-mt-teaser-tile .node__submitted-date .day {
  font-size: 35px;
  font-weight: 600;
  display: block;
  line-height: 1;
}
.node--view-mode-mt-teaser-tile .node__submitted-date .month-year {
  font-size: 14px;
  font-weight: 500;
}
.node--view-mode-mt-teaser-tile .teaser-tile-subtitle > .field {
  line-height: 24px;
  font-weight: 500;
  border-radius: 6px;
  font-size: 18px;
  padding: 5px 10px;
}
.node--view-mode-mt-teaser-tile .teaser-tile-pre-content {
  font-size: 14px;
  font-weight: 500;
}
.node--view-mode-mt-teaser-tile .teaser-tile-pre-content-item {
  display: inline-block;
}
.node--view-mode-mt-teaser-tile .teaser-tile-pre-content-item:after {
  content: "/";
}
.node--view-mode-mt-teaser-tile .teaser-tile-pre-content-item:last-child:after {
  content: "";
}
.node--view-mode-mt-teaser-tile .teaser-tile-content .field--name-uid {
  text-transform: capitalize;
}
.node--view-mode-mt-teaser-tile .teaser-tile-content-wrapper {
  padding-bottom: 15px;
}
.node--view-mode-mt-teaser-tile .teaser-tile-content {
  font-size: 14px;
  font-weight: 500;
}
.node--view-mode-mt-teaser-tile .teaser-tile-content p:last-child {
  padding-bottom: 0;
}
.node--view-mode-mt-teaser-tile .node__content {
  padding-bottom: 15px;
}
.node--view-mode-mt-teaser-tile .node__content p:last-child {
  padding-bottom: 0;
}
.node--view-mode-mt-teaser-tile .teaser-tile-content-separator {
  font-size: 5px;
}
@media (max-width: 767px) {
  .node--view-mode-mt-teaser-tile .images-container {
    margin-bottom: 0;
  }
}
