/**
 * @file
 * Visual styles for Team+'s views.
 */
.views-field-title a {
  display: block;
}
.view-header .mt-view-header {
  display: none;
}
.mt-view-header {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  text-transform: capitalize;
}
.block-views .mt-view-header {
  font-size: 1em;
  margin-bottom: 20px;
  text-transform: none;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}
.mt-view-header-enabled > h2.title {
  margin-bottom: 10px;
}

/*more links*/
.headings-wide-spacing-enabled .view > .more-link a {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.col-12 .view > .more-link {
  text-align: center;
  margin-top: 10px;
}
.mt-link-style-animated-icon-2 .col-12 .view > .more-link > .mt-link-stylable {
  -ms-flex-pack: center;
  justify-content: center;
}
.col-12 .view.view-mt-showcases-metro-tiles > .more-link {
  margin-top: 40px;
}

/*more links @sidebars and footer regions*/
.footer__section .view > .more-link a {
  margin: 10px 0 0;
  text-transform: none;
}

/*clear grid floats*/
.view.row .view-content:before,
.view.row .view-content:after {
  display: table;
  content: " ";
}
.view.row .view-content:after {
  clear: both;
}
